/* Define a click effect animation */
@keyframes click-effect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  } /* Slightly scale down on click */
  100% {
    transform: scale(1);
  }
}

/* Container for the entire app */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

/* Product Card Styling */
.Product-info {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease;
}

.Product-info:hover {
  transform: scale(1.05);
}

.Product-info h1 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #ffcc00;
}

.Product-info span {
  display: block;
  font-size: 1.1em;
  color: #ddd;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons a,
.buttons button {
  color: #fff;
  background-color: #ffcc00;
  border: none;
  padding: 10px 15px;
  font-size: 0.9em;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

/* Apply the click-effect animation on button click inside .buttons */
.buttons button:active,
.buttons a:active {
  animation: click-effect 0.15s ease-out;
}

.buttons a:hover,
.buttons button:hover {
  background-color: #fff;
  color: #000;
}

button {
  background-color: #ffcc00;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button i {
  margin-right: 8px;
}

button:hover {
  background-color: #f5a623;
  color: #fff;
}

.navlink {
  background-color: #ffcc00;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navlink i {
  margin-right: 8px;
}

.navlink:hover {
  background-color: #f5a623;
  color: #fff;
}
.wishlisted {
  color: black; /* Filled heart color */
}

.unwishlisted {
  color: black; /* Outlined heart color */
  opacity: 0.7;
}
